<!-- This is the new page new.html.erb file -->

<div class="span6 offset3 text-center boxy">
	<h1 class="h1-custom"> 
		Load up a New Status!
	</h1>
	<br/>
		<%= simple_form_for @pic do |f|%>
			
			<%= f.input :lesson, :label => 'Your latest lesson?', placeholder: '1, 2, etc.' %> 
			<br/>
			<%= f.input :emotion, label: 'How you feeling buddy?', :placeholder => 'Happy, Stoked, Jazzed'%>
			<br/>
			<%= f.input :learned, label: 'Tell me about it!', placeholder: 'Lessons learned...'%>
		<br/>
		<br/>

		<%= submit_tag 'Save', :class => 'btn btn-warning btn-large' %>
		
		<% end %>
</div>